DATABASE_URL=postgresql://user:password@ep-xxxx.neon.tech/southpaw?sslmode=require
PORT=3000
CORS_ORIGIN=http://localhost:3000
EMAIL_PROVIDER=console
EMAIL_FROM=alerts@southpaw.example
APP_BASE_URL=http://localhost:3000

# Only needed if EMAIL_PROVIDER=postmark
POSTMARK_SERVER_TOKEN=

# Only needed if EMAIL_PROVIDER=sendgrid
SENDGRID_API_KEY=
